h1 {
    text-align: center;
    background-color: yellow;
}

.principalDiv {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 40px;
}

#upDescription {
    text-align: center;
}


/* Sequence of chords building */

#sequenceOfChordsBuilding {
    border-style: solid;
    height: 150px;
    display: flex;
    justify-content: space-around
}

.label {
    margin-bottom: 0;
}

#chordPicking {
    flex-direction: row;
}


/* end of Sequence of chord building*/


/*SHEET*/

#sheet {
    border-style: solid;
    height: 300px;
}


/*SHEET */

.ctrl {
    position: absolute;
    z-index: 1;
    width: 80%;
}

.svg {
    position: absolute;
    overflow: auto;
    height: 350px;
    width: 80%;
}

svg {
    position: absolute;
    top: 15px;
    left: 10px;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    stroke-width: 2;
    stroke: #000;
}

.clef {
    stroke: none;
}

#rest {
    stroke: none;
}

.note text {
    font-family: serif;
    font-size: 30px;
    font-weight: normal;
    stroke: none;
}


/*END OF SHEET */


/*KEYBOARD*/

#keyboard {
    border-style: solid;
    height: 100px;
}