/* STYLE */


/* COLORS */

:root {
    /*--main-bg-color: rgb(255,161,35);*/
    /*--main-bg-color: #57b252;*/
    --main-bg-color: rgb(255, 210, 65);
    --button-color: #012437;
    --button-text-color: white;
    --border-color: rgb(18, 18, 18);
    /*--yellow-color: #f3af05;*/
    --yellow-color: rgb(255, 181, 45);
    --min-width: 750px;
}

@font-face {
    font-family: textFont;
    src: url("Lato-Regular.ttf");
}

body {
    background-color: var(--main-bg-color);
    font-family: textFont;
}

.principalDiv {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 40px;
    min-width: var(--min-width);
}

.button button {
    border-radius: 6px;
    color: var(--button-text-color);
    background-color: var(--button-color);
    font-family: textFont;
    padding: 2px 12px;
    font-size: 15px;
    vertical-align: middle;
    cursor: pointer;
}

.button button:disabled,
.button button[disabled] {
    background-color: #cccccc;
    color: #666666;
    cursor: auto;
}

.resultDivs {
    visibility: hidden;
}

.vertLine {
    border-left: 2px solid var(--border-color);
    height: 190px;
    margin-top: 5px;
    vertical-align: middle;
}


/* Header */

header {
    text-align: center;
    color:white;
    padding: 5px;
    height: 150px;
    overflow: hidden;
    background-color: var(--button-color);
    min-width: calc(var(--min-width) + 200px);
}

header img {
    opacity: 0.7;
}

header h1 {
    font-size: 45px;
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translate(-50%, -50%);
    /*color: var(--yellow-color);*/
}

header #upDescription {
    position: absolute;
    top: 85px;
    left: 40%;
    transform: translate(-50%, -50%);
    font-style: italic;
}


/* end of Header*/


/* Sequence of chords building */

#sequenceOfChordsBuilding {
    border-style: solid;
    border-color: var(--border-color);
    border-radius: 1em;
    height: 200px;
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
}

#chordPicking {
    flex-direction: row;
}

:root {
    --selected-color: brown;
    --disabled-color: grey;
}

.description {
    margin: 0;
    margin-bottom: 4px;
    font-family: textFont;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.subContainer {
    display: flex;
    flex-direction: row;
}

.linear-pillbar {
    font-family: textFont;
    display: flex;
    border: 1px solid var(--border-color);
    position: relative;
    border-radius: 3px;
}

.option {
    outline: none;
    font-size: 0.9em;
    border: none;
    flex: 1 1 auto;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid var(--selected-color);
    color: var(--selected-color);
    cursor: pointer;
    background: white;
}

.option :last-child {
    border-right: none;
}

.equal {
    flex: 1;
}

.selected {
    background: var(--selected-color);
    color: white;
}

.disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: auto;
}

#sequenceCtrl {
    padding-top: 20px;
    text-align: center;
}

#chosenChord {
    margin: 0.5em;
}

#labelPrinting {
    font-size: 1.3em;
    font-weight: bold;
    margin: 0.3em;
    margin-bottom: 0.5em;
}

#chordCtrl {
    padding: 0.2em;
    border-style: solid;
    border-color: var(--border-color);
    border-radius: 0.5em;
    border-width: 0.15em;
}

#sequenceList {
    padding: 0.2em;
    border-style: solid;
    border-color: var(--border-color);
    border-radius: 0.5em;
    border-width: 0.15em;
}

#sequencePrinting {
    padding-top: 30px;
    text-align: center;
    width: 25%;
}

#finalButtons {
    padding-top: 30px;
}

#finalButtons .button {
    margin-top: 8px;
}

#goButton {
    margin-top: 25px;
    width: 100px;
    height: 40px;
}

.button {
    display: flex;
    font-family: textFont;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
}


/* end of Sequence of chord building*/


/*SHEET*/

#sheet {
    border-style: solid;
    border-color: var(--border-color);
    border-radius: 1em;
    height: 200px;
    background-color: white;
}

.ctrl {
    position: absolute;
    z-index: 1;
    width: 80%;
}

.svg {
    position: relative;
    overflow: visible;
    height: 180px;
    top: -3em;
}

svg {
    position: absolute;
    overflow: visible;
    top: -5px;
    left: 10px;
    width: 99%;
    height: 100%;
    stroke-width: 2;
    stroke: #000;
}

.clef {
    stroke: none;
}

#rest {
    stroke: none;
}

.note text {
    font-family: serif;
    font-size: 15px;
    font-weight: normal;
    stroke: none;
}

#audio_button1 {
    position: relative;
    margin: 1em;
    z-index: 2;
    border-radius: 6px;
    font-size: 14px;
    padding: 2px 12px;
}

#audio_button2 {
    margin-right: 20px;
}

#audio_button_descrition {
    margin-left: 5px;
    display: inline-block;
}

#triangle {
    border-left: 10px solid var(--button-text-color);
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    display: inline-block;
    vertical-align: middle;
}


/*END OF SHEET */


/*KEYBOARD*/

#keyboard {
    border-style: solid;
    border-color: var(--border-color);
    border-radius: 1em;
}

#labelKeyboard {
    padding-left: 1em;
    padding-right: 2em;
    font-size: 1.3em;
    font-weight: bold;
    margin: 0.5em;
}


/*NoResults*/

#noResults {
    position: absolute;
    top: 60%;
    left: 40%;
    width: 35em;
    height: 18em;
    margin-left: -10em;
    /*set to a negative number 1/2 of your width*/
    border: 1px solid #ccc;
    border-radius: 0.4em;
    background-color: #f3f3f3;
    z-index: -1;
    box-shadow:2px 2px 10px gray;
    padding-top: 0.8em;
    padding-bottom: 1.7em;
    padding-left: 1.7em;
    padding-right: 1.7em;
}

#noResults p {
    font-style: italic;
    text-align: justify;
}